<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :serves %><br>
    <%= f.number_field :serves, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :food_preference %><br>
    <%= f.collection_select(:food_preference_id, FoodPreference.all, :id, :name, {prompt: "Selecione"}, class: "form-control") %>
  </div>
  <div class="form-group">
    <%= f.label :food_type %><br>
    <%= f.collection_select(:food_type_id, FoodType.all, :id, :name, {prompt: "Selecione"}, class: "form-control") %>
  </div>
  <div class="form-group">
    <%= f.label :cuisine %><br>
    <%= f.collection_select(:cuisine_id, Cuisine.all, :id, :name, {prompt: "Selecione"}, class: "form-control") %>
  </div>
  <div class="form-group">
    <%= f.label :cooking_time %><br>
    <%= f.number_field :cooking_time, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :difficulty %><br>
    <%= f.select :difficulty, [["Fácil","Fácil"],["Médio","Médio"],["Dificil","Dificil"]], {prompt: "Selecione dificuldade"}, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :ingredients %><br>
    <%= f.text_area :ingredients, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :procedure %><br>
    <%= f.text_area :procedure, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :photo %><br>
    <%= f.file_field :photo, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-default" %>
  </div>
<% end %>
