<%if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @recipe.name %></h3>
  </div>
  <div class="panel-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <p><strong>Sent by:</strong> <%= link_to @recipe.user.name, "/users/#{@recipe.user.id}" %></p>
          <p><strong>Preference:</strong> <%= @recipe.food_preference.name %></p>
          <p><strong>Cuisine:</strong> <%= @recipe.cuisine.name %></p>
          <p><strong>Type:</strong> <%= @recipe.food_type.name %></p>
          <p><strong>Serves:</strong> <%= pluralize(@recipe.serves, "person")%></p>
          <p><strong>Cooking Time:</strong> <%= @recipe.cooking_time %> minutes</p>
          <p><strong>Difficulty:</strong> <%= @recipe.difficulty %></p>
        </div>
        <div class="col-md-6">
          <%= image_tag @recipe.photo.url(:medium), class: "image-responsive" %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p><strong>Ingredients:</strong></p>
          <ul>
            <% @recipe.ingredients.split("\r\n").each do |step| %>
              <li><%= step %></li>
            <% end %>
          </ul>
        </div>
        <div class="col-md-6">
          <p><strong>Procedure</strong></p>
          <ul>
            <% @recipe.procedure.split("\r\n").each do |step| %>
              <li><%= step %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="row">
        <% unless @recipe.users_who_liked && @recipe.users_who_liked.include?(current_user) %>
        <div class="col-md-3">
          <%= link_to "Favorite it!", "/recipes/#{@recipe.id}/favorites", method: :post %>
        </div>
        <% end %>
        <div class="col-md-3">
          <a href="#" data-toggle="modal" data-target="#exampleModal">Send to a friend!</a>

          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="exampleModalLabel">New message</h4>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="form-group">
                      <label for="recipient-name" class="control-label">Recipient:</label>
                      <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                      <label for="message-text" class="control-label">Message:</label>
                      <textarea class="form-control" id="message-text"></textarea>
                    </div>
                    <input type="hidden" id="recipe-id" value="<%= @recipe.id %>">
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal" id="close-btn">Close</button>
                  <button type="button" class="btn btn-primary" id="send-email-btn">Send message</button>
                </div>
              </div>
            </div>
          </div><!-- fim modal email -->
        </div>
      </div>
    </div>
  </div>
</div>

<% if user_signed_in? && current_user == @recipe.user %>
  <%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<% end %>
<%= link_to '<< More recipes', recipes_path %>
