<%if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @recipe.name %></h3>
  </div>
  <div class="panel-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <p><strong>Sent by:</strong> <%= @recipe.user.email %></p>
          <p><strong>Preference:</strong> <%= @recipe.food_preference.name %></p>
          <p><strong>Cuisine:</strong> <%= @recipe.cuisine.name %></p>
          <p><strong>Type:</strong> <%= @recipe.food_type.name %></p>
          <p><strong>Serves:</strong> <%= pluralize(@recipe.serves, "person")%></p>
          <p><strong>Cooking Time:</strong> <%= @recipe.cooking_time %> minutes</p>
          <p><strong>Difficulty:</strong> <%= @recipe.difficulty %></p>
        </div>
        <div class="col-md-6">
          <%= image_tag @recipe.photo.url(:medium), class: "image-responsive" %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p><strong>Ingredients:</strong></p>
          <ul>
            <% @recipe.ingredients.split("\r\n").split do |step| %>
              <li><%= step %></li>
            <% end %>
          </ul>
        </div>
        <div class="col-md-6">
          <p><strong>Procedure</strong></p>
          <ul>
            <% @recipe.procedure.split("\r\n").split do |step| %>
              <li><%= step %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<% if user_signed_in? %>
  <%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<% end %>
<%= link_to '<< More recipes', recipes_path %>
