<h1>Listing Recipes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Serves</th>
      <th>Cooking time</th>
      <th>Difficulty</th>
      <th>Ingredients</th>
      <th>Procedure</th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.name %></td>
        <td><%= recipe.serves %></td>
        <td><%= recipe.cooking_time %></td>
        <td><%= recipe.difficulty %></td>
        <td><%= recipe.ingredients %></td>
        <td><%= recipe.procedure %></td>
      </tr>
    <% end %>
  </tbody>
</table>
