<%= form_for(@food_preference) do |f| %>
  <% if @food_preference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@food_preference.errors.count, "error") %> prohibited this Food Preference from being saved:</h2>

      <ul>
      <% @food_preference.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
